<div class="row m-0 justify-content-center align-items-center">
  <div class="col-md-10">
    <div class="container">
      <div class="area-info">
        <p>
          Meu nome é Telma Monteiro, consultora de imóveis registrada no
          CRECI/MA sob o número 6489 e formada em administração CRA 3480.
        </p>
        <p>
          Atuo no mercado imobiliário do Maranhão, com destaque na cidade de São
          Luís, ajudando pessoas a encontrarem o imóvel ideal para suas
          necessidades.
        </p>
        <p>
          Sou parceira REMAX DREAMS, uma franquia da Rede imobiliária RE/MAX,
          Imobiliária que mais vende imóveis no mundo, presente em mais de 110
          países. Estamos atuando no mercado há mais de 7 anos, sendo
          reconhecidos e premiados pelos nossos excelentes serviços em todos
          estes anos, chegando em 1° lugar em valor geral de comissões em 2022.
        </p>
        <p>
          Acredito que a compra ou venda de um imóvel é um momento importante na
          vida de qualquer pessoa. Por isso, estou aqui para tornar esse
          processo o mais tranquilo, positivo e eficiente possível.
        </p>
        <p>Minha expertise inclui:</p>
        <ul>
          <li>Compra e venda de imóveis residenciais e comerciais</li>
          <li>Locação de imóveis</li>
          <li>Avaliação de imóveis</li>
          <li>Financiamentos imobiliários</li>
        </ul>
        <p>Ofereço um atendimento personalizado e dedicado, com foco em:</p>
        <ul>
          <li>Entender suas necessidades e objetivos</li>
          <li>Oferecer soluções personalizadas</li>
          <li>Negociar os melhores preços e condições</li>
          <li>Acompanhar todo o processo com atenção e cuidado</li>
        </ul>
        <p>
          Se você está procurando um imóvel para comprar, vender ou alugar,
          entre em contato comigo!
        </p>
        <p>Terei o prazer de lhe ajudar a realizar seus sonhos.</p>
      </div>
      <div class="foto">
        <img src="assets/imgs/telma-monteiro-quem-sou-eu.webp" alt="" />
      </div>
    </div>
  </div>
</div>
