<h2 mat-dialog-title>Lead Detalhes</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">

    <mat-stepper #stepper>
      <mat-step>
        <ng-template matStepLabel>Formulário de Contato</ng-template>

        <div class="row">
          <div class="col-md-12">
            <h2>Nome: {{form.value.nome}}</h2>
            <p>WhatsApp: {{form.value.whatsapp}}</p>
            <p>Email: {{form.value.email}}</p>
            <p>Mensagem: {{form.value.mensagem}}</p>
            <mat-divider class="my-3"></mat-divider>

            <div class="mt-3">


              <p>Formulário do tipo: {{form.value.tipo}}</p>
              <h3>Opção atendimento:</h3>
              <p>
                @for (item of form.value.horarios; track $index) {
                {{item}}
                }
              </p>

              <h3>Agendamento de visíta:</h3>
              @if (form.value.dia_semana) {
              <p>Preferência Dia da Semana: {{form.value.dia_semana}}</p>
              }@else {
              <p>* Não informado</p>

              }


            </div>
          </div>

        </div>






      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Histórico de Contato</ng-template>
        <mat-form-field class="my-3" appearance="outline">
          <mat-label>STATUS DE ATENDIMENTO</mat-label>
          <mat-select formControlName="status">
            @for (item of tipo_status; track $index) {
            <mat-option [value]="item">{{item | uppercase}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div formArrayName="historico">
          @for (ctrl of ctrlHistorico.controls; track $index) {
            <div class="d-flex" [formGroupName]="$index">
              <mat-form-field class="w-75" appearance="outline">
                <mat-label>Descrição do contato</mat-label>
                <input formControlName="descricao" matInput>
              </mat-form-field>

              <mat-form-field style="width: 20%;" appearance="outline">
                <mat-label>Data</mat-label>
                <input formControlName="date" matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              @if ($index >0 && $index === (ctrlHistorico.controls.length - 1)) {
                <button (click)="removeHistorico($index)" style="width: 5%;" mat-icon-button color="warn">
                  <mat-icon>close</mat-icon>
                </button>              
              }
            </div>
          }
        </div>




        <button (click)="createHistorico()" mat-raised-button class="w-100" color="primary">ADD +</button>



        <!-- <div>
          <button mat-button matStepperNext>Próximo</button>
        </div> -->
      </mat-step>
    </mat-stepper>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="salvar()" class="w-25" mat-raised-button color="primary"
    cdkFocusInitial>SALVAR</button>
</mat-dialog-actions>