.desktop {

    background-color: #F5F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        display: flex;
        flex-direction: column;
        margin: 10px 10px 10px 40px;
        img{
            max-width: 200px;
        }

        .titulo {
            font-size: 2rem;
            font-weight: 800;
            color: var(--material-primary-color);
            margin: 0px;
            padding: 0px;
        }

        .titulo:hover {
            cursor: pointer;
            color: var(--material-primary-color);
        }

        .cresci {
            font-size: 1rem;
            margin: 0px;
            padding: 0px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: center;

        .btn-icon {
            margin: 0px 20px 0px 20px;
        }

        nav {
            ul {
                display: flex;
                list-style-type: none;
                margin: 0px;
                padding: 0px;

                li {
                    margin: 0px 2px 0px 2px;
                }
            }

        }
    }

}

.mobile {

    background-color: #F5F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px 10px 20px;

    .logo {
        display: flex;
        flex-direction: column;
        img{
            max-width: 150px;
        }
        .titulo {
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--material-primary-color);
        }

        .titulo:hover {
            cursor: pointer;
            color: var(--material-primary-color);
        }

        .cresci {
            font-size: 0.7rem;
        }
    }
}

.links{
    background-color: rgba(255, 0, 0, 0) !important;
    position: fixed;
    top: 0;
    padding: 0px 10px 0px 0px;
}