@if(utils.widthSize.value > 820){
    <div class="desktop" >
        <a routerLink="/" class="logo" mat-button>Telma Monteiro</a>
        <nav class="menu">
            <ul>
                @for (item of empresaMenu; track $index) {
                    <li><a  mat-button [routerLink]="item.url" color="primary" class="p-4">{{item.title}}</a></li>
                }
            </ul>
        </nav>

        <a class="whatsapp" mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>

    </div>
}@else {
    <div class="mobile" [ngClass]="{'links': isLinks}">
        <a routerLink="/" class="logo" mat-button>Telma Monteiro</a>
        <button class="btn-icon" (click)="openBottomSheet()" mat-mini-fab color="primary">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
}




