<div class="header">
    <div class="logo">
        <span class="titulo">Telma Monteiro</span>
        <span class="creci">CRECI 6489</span>
    </div>
    <div class="menu">
        <div class="nav">
            @if(isAdmin$ | async){
                <nav class="item">
                    <ul>
                        @for (item of menuAdmin; track $index) {
                            <li><a mat-stroked-button [routerLink]="item.url" color="primary" class="p-4">{{item.titulo}}</a></li>
                        }
        
                    </ul>
                </nav>
            }@else {
        
                <button  mat-stroked-button [routerLink]="'auth/cliente'" color="primary">
                    @if((cliente$ | async); as cliente){
                        Bem vindo(a) {{cliente?.nome}}
                    }@else {
                        ÁREA DO CLIENTE
                    }
                   
                </button>
        
            }

        </div>
    
    
        <button class="btn-icon" (click)="openBottomSheet()" mat-mini-fab color="primary">
            <mat-icon>menu</mat-icon>
        </button>

    </div>


</div>

