.header {
    background-color: rgba(255, 0, 0, 0);
    // position: absolute;
    // top: 0px;

    .toolbar{
        width: 99vw;
        display: flex;
        justify-content: space-between;
    }
}

.logo {
    width: 50%;
    p {
        margin: 0px;
        padding: 0px;
    }
    .img{
        img{
            width: 100px;
        }
    }

    .titulo {
        font-size: 2rem;
        font-weight: 800;
        color: var(--material-primary-color);
    }
    .titulo:hover {
        cursor: pointer;
        color: var(--material-primary-color);
    }

    .cresci {
        margin: 0px;
    }
}

nav{
    ul{
        display: flex;
        margin: 5px;
        list-style-type: none;
        li{
            margin: 2px;
        }
    }
}

