<h2 mat-dialog-title>Editor de Anúncio</h2>
<mat-dialog-content class="mat-typography">
    <mat-stepper #stepper>
        <mat-step>
          <form [formGroup]="form">
            <ng-template matStepLabel>Dados Básicos</ng-template>
            <mat-form-field>
              <mat-label>Titulo</mat-label>
              <input matInput placeholder="ex: Casa de Vila em Moema " formControlName="titulo" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Código</mat-label>
                <input matInput formControlName="codigo">
              </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
      </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
</mat-dialog-actions>

