@if(dataSource.data.length){
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="pergunta">
          <th mat-header-cell *matHeaderCellDef> Pergunta </th>
          <td mat-cell *matCellDef="let element"> {{element.pergunta}} </td>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef> Açoes </th>
          <td mat-cell *matCellDef="let element"></td>
        </ng-container>
      
      
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
      
    <mat-paginator [pageSizeOptions]="[10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
     </mat-paginator>
}@else {

    <p>*Sem perguntas</p>

}

  
