<form [formGroup]="form">
    <div class="container-login">
        <h3>Bem vindo(a), por motivo de segurança</h3>
        <p>Informe seu CPF OU CNPJ cadastrado para continuar</p>
    
        <mat-form-field appearance="outline" class="mt-2 w-50">
            <mat-label>CPF OU CNPJ</mat-label>
            <input formControlName="cpf_cnpj" matInput required mask="000.000.000-00 || 00.000.000/0000-00">
          </mat-form-field>
          <button (click)="login()" class="w-50" [disabled]="form.invalid" mat-raised-button color="primary" cdkFocusInitial>Entrar</button>
    </div>
    
    <div mat-dialog-actions align="end">
        <button mat-button mat-dialog-close color="warn">Cancelar e Voltar a Home</button>
      </div>

</form>