<div class="tab mat-elevation-z8">
    <button class="btn" mat-button aria-label="Example icon button with a open in new tab icon">
        <mat-icon class="icon">home</mat-icon>
        <span class="titulo">Home</span>
    </button>
    <button class="btn" mat-button aria-label="Example icon button with a open in new tab icon">
        <mat-icon class="icon">search</mat-icon>
        <span class="titulo">Buscar</span>
    </button>
    <button class="btn" mat-button aria-label="Example icon button with a open in new tab icon">
        <mat-icon class="icon">person</mat-icon>
        <span class="titulo">Cliente</span>
    </button>
</div>
