.tab{
    display: none;
}
@media (max-width: 768px){
    .tab{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 60px;
        width: 100%;
        background-color: #F5F5F7;
        position: fixed;
        bottom: 0px;
        z-index: 10000;

        .btn{
            display: flex;
            flex-direction: column;
            .icon{
                font-size: 20px;
            }
            .title{
                font-size: 16px;

            }
        }
    }
}
