<div class="tab mat-elevation-z8">
    <button routerLink="/" class="btn" mat-button aria-label="button home">
        <mat-icon class="icon">home</mat-icon>
        <span class="titulo">Home</span>
    </button>
    <button (click)="search()" class="btn" mat-button aria-label="button search">
        <mat-icon class="icon">search</mat-icon>
        <span class="titulo">Buscar</span>
    </button>
    <button routerLink="links" (click)="closeBottomSheet()" class="btn" mat-button aria-label="button links">
        <mat-icon class="icon">person</mat-icon>
        <span class="titulo">Cartão</span>
    </button>
    <button (click)="openBottomSheet()" class="btn" mat-button aria-label="button menu">
        <mat-icon class="icon">menu</mat-icon>
        <span class="titulo">Menu</span>
    </button>
</div>
