<div class="row justify-content-between m-0 p-2">
    <div class="col-md-3">
        <app-search-filter/>
    </div>

    <div class="col-md-9">
        <div class="d-md-flex justify-content-between align-items-center title-filter">
            <h4 >{{(anuncios$ | async)?.length}} Resultados encontrados</h4>
            <mat-form-field appearance="outline">
                <mat-label>Ordenar por</mat-label>
                <mat-select formControlName="categoria">
                    @for (item of core.orders; track $index) {
                    <mat-option [value]="item">{{item | uppercase}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        <div class="d-md-flex flex-wrap justify-content-start">
            @for (item of anuncios$ | async; track $index) {
                <app-card-anuncio [item]="item" />
            }
        </div>
    </div>

</div>