<div class="row m-0">
    <div class="col-12">
      @if ((cliente$ | async); as cliente) {
        <mat-drawer-container class="drawer-container" autosize>
          <mat-drawer #drawer class="sidenav" mode="side" color="primary">
            <p>Auto-resizing sidenav</p>

          </mat-drawer>
        

          <mat-toolbar color="primary">
              <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
              </button>
              <span>Bem vindo(a) {{cliente.nome}}</span>
            </mat-toolbar>

            <mat-tab-group class="p-3">
              <mat-tab label="SEUS DADOS"> 
                <mat-card class="mt-3">
                  <mat-card-content>
                    <p>Nome:{{cliente.nome}}</p>
                    <p>CPF: {{cliente.cpf_cnpj | mask: '000.000...'}}</p>
                    <p>Email: {{cliente.email}}</p>
                    <p>Whatsapp: {{cliente.whatsapp | mask: '(00)00000...'}}</p>
                    <p>Profissão: {{cliente.profissao}}</p>
                    <p>Renda Mensal: {{cliente.renda | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                  <mat-card-content>
                    <h5>Endereço Principal:</h5>
                    <p>Cep: {{cliente.end_cep}}, {{cliente.end_cidade}} / {{cliente.end_uf}} </p>
                    <p></p>
                    <p>Logadouro: {{cliente.end_logadouro}} , nº {{cliente.end_numero}} , Bairro: {{cliente.end_bairro}} {{cliente.end_complemento}}</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                  <mat-card-content >
                    <h5>Cofinanciador:</h5>
                    @if (cliente.cofinanciado === 'sim') {
                      <p>Nome:{{cliente.cofinanciador.nome}}</p>
                      <p>CPF: {{cliente.cofinanciador.cpf_cnpj | mask: '000.000...'}}</p>
                      <p>Grau de Parentesco: {{cliente.cofinanciador.grau_parentesco}}</p>
                      <p>Whatsapp: {{cliente.cofinanciador.whatsapp | mask: '(00)00000...'}}</p>
                      <p>Telefone: {{cliente.cofinanciador.telefone | mask: '(00)00000...'}}</p>
                      <p>Profissão: {{cliente.cofinanciador.profissao}}</p>

                    }@else {
                      <p>*Não cofinanciado</p>

                    }

                  </mat-card-content>
                </mat-card>

                <mat-card class="mt-3">
                  <mat-card-content >
                    <h5>Preferências:</h5>
                    <div class="d-flex">
                      <p>Categoria: {{cliente.preferencia?.categoria | uppercase}} </p>
                      <p class="mx-3">Tipo: {{cliente.preferencia?.tipo | uppercase}}</p>
                      <p class="mx-3">Cidade: {{cliente.preferencia?.cidade}} {{cliente.preferencia?.uf}}</p>
                      <p class="mx-3">Bairros:
                        @for (bairro of cliente.preferencia?.bairros; track $index) {
                          {{bairro}}
                        }
                      </p>
                    </div>

                    <div class="d-flex">
                      <p>Preço Mínimo: {{cliente.preferencia?.preco_min | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }} </p>
                      <p class="mx-3">Preço Máximo: {{cliente.preferencia?.preco_max | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</p>
                    </div>

                    <div class="d-flex">
                      <mat-chip cdkDrag>Qtd Suítes: {{cliente.preferencia?.qtd_suite }}</mat-chip>
                      <mat-chip cdkDrag>Qtd Dormitorios: {{cliente.preferencia?.qtd_dorm }}</mat-chip>
                      <mat-chip cdkDrag>Qtd Banheiros: {{cliente.preferencia?.qtd_ban }}</mat-chip>
                      <mat-chip cdkDrag>Qtd Vagas: {{cliente.preferencia?.qtd_vaga }}</mat-chip>
                    </div>

                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="ENVIO DOCUMENTOS"> 

                @if(loadingUpload){
                  Enviando imagens
                  <mat-progress-bar mode="buffer"></mat-progress-bar>
                  }@else{
                  <mat-form-field appearance="fill">
                    <mat-label>Arraste seus arquivos ou clique aqui!</mat-label>
                    <ngx-mat-dropzone>
                      <input type="file" multiple fileInput [formControl]="filesCtrl" />
                    </ngx-mat-dropzone>
                    <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
                  </mat-form-field>
          
                  }
                
              </mat-tab>
              <mat-tab label="SEUS AGENDAMENTOS"> Content 2 </mat-tab>
              <mat-tab label="SEUS FAVORITOS"> Content 3 </mat-tab>
              <mat-tab label="DÚVIDAS"> Content 3 </mat-tab>
            </mat-tab-group>
        
        </mat-drawer-container>
      }@else {
        <div class="loading">
          <h3>Aguarde carregando dados...</h3>
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
      }

    </div>
</div>
