<div class="row m-0">
    <div class="col-12">
        <mat-drawer-container class="drawer-container" autosize>
            <mat-drawer #drawer class="sidenav" mode="side" color="primary">
              <p>Auto-resizing sidenav</p>

            </mat-drawer>
          

            <mat-toolbar color="primary">
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <span>Bem vindo Kelvin Bruno</span>
              </mat-toolbar>
          
          </mat-drawer-container>



    </div>
</div>
