<section class="slides">
    @if(!anunciosStore.isLoading()){
        <swiper-container  [breakpoints]="breakpoints"  pagination="true" slidesOffsetAfter="0.5" autoplay-delay="5000">
            @for (item of anunciosStore.selectUltimos(50); track $index) {
                <swiper-slide (click)="openAnuncio(item.url)">
                            
                    <div class="card-box">
                        <div class="featured">
                            <span>Disponível</span>
                
                        </div>

                        <div class="imagem">
                            @if(item.fotos){
                                @if((item.fotos[0] | urlFotos: 'anuncios' | async); as src){
                                    <img [src]="src" alt="imagem-anuncio">
                                }
                            }
                        </div>

                        <div class="header">
                            <h2>{{item.titulo}}</h2>
                            <p>{{item.end_bairro}},{{item.end_cidade}}/{{item.end_uf}}</p>
                        </div>
                
                        <div class="icons">
                            <mat-icon>add_task</mat-icon>
                            <span>Banheiros, Quartos, Sala de jantar ...</span>
                        </div>
                
                
                        <div class="price">
                            <p>Á venda por</p>
                            @if(item.preco){
                                <h1>{{item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</h1>
                            }
                        </div>
                
                
                    </div>


                </swiper-slide>


            }
        </swiper-container>
    }

</section>


    
 
