.container-default{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    min-height: 700px;
    .notAuth{
        margin: 20px;
        max-width: 700px;

        div{
           height: 200px;
        }
    }
    .btn{
        width: 100%;
    }

    
}