@media (max-width: 960px) {
    .container-default{
        height: 90vh !important;
        height: auto;
        h3{
            font-size: 1rem;
        }

        .back-btn{
            position: sticky !important;
            bottom: 0px;
            left: 0px !important;
        }


    }
}