:host{
    width: 100%;
    display: flex;
    justify-content: center;

}
.container-default{
    // background-color: #F5F5F7;
    width: 100% !important;
    margin: 0px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;;
    background-size: cover;
    position: relative;

    .search{
        position: absolute;
        width: auto;
        bottom: -40px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
        // height: 100px;
        // margin-left: 100px;
        // margin-right: 100px;


        // width: 600px;
        // margin-left: 300px;
    }

    // width: 100%;
    // align-items: baseline;
    // justify-content: center;
    // .search{
    //     width: 50%;
    //     border: 1px solid red;
    //     background-color: #fff;
    //     border-radius: 20px;
    // }
    // .foto{
    //     display: flex;
    //     align-items: center;
    //     // width:50%;
    //     ;
    //     img{
    //         height: 550px;
    //     }

    // }
}

.lead-form{
    width: 420px;
    height: 300px;
    background-color: #ffff;
    position: absolute;
    bottom: 190px;
    right: 20%;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .featured{
        position: absolute;
        top: -20px;
        left: 0px;
        width: 100px;
        height: 40px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px 0px 0px 0px;
        span{
            color: #fff;
        }
    }
    .featured::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-bottom:20px solid transparent;
        border-left: 20px solid red;
      }


    .header{
        h2{
            font-size: 20px;
            font-weight: 900;
            padding: 0px;
        }
        p{
            color: #7e7e7e;
        }
    }

    .icons{
        width: 100%;
        display: flex;
        color: violet;
        mat-icon{
            margin-right: 5px;
        }
    }

    .price{
        h1, p{
            padding: 0px;
            margin: 0px;
        }
    }
}

@media (max-width: 540px) {
    .container-default{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        .search{
            width: 80%;
        }
        .foto{
            display: flex;
            align-items: center;
            // width:50%;
            ;
            img{
                height: 350px;
            }
    
        }
    }
    
}