.heigth-default{
    min-height: 500px;
}
.tipo_cliente{
    width: 250px;
}
.tipo_arquivo{
    width: 250px;
}
.nome_arquivo{
    width: 400px;
}

@media (max-width: 960px) {
    mat-form-field{
        width: 100% !important;
    }

}