@if (item) {
    <mat-card class="card-anuncio">
        <swiper-container>
            @for (path of item?.fotos; track $index) {
                @if ((path | urlFotos: 'anuncios' | async); as src) {
                <swiper-slide>
                    <img [src]="src">
                </swiper-slide>
                }
            }
    
        </swiper-container>
    
    
        <mat-card-content>
            <h3 class="titulo">{{item.titulo}}</h3>
            <p class="cidade">{{item.end_cidade}} / {{item.end_uf}} - Cód. {{item.codigo}}</p>
            <div class="detalhes">
                @if (item.area_util) {<mat-chip> {{item.area_util}}m² </mat-chip>}
                @if (item.qtd_dorm) {<mat-chip> {{item.qtd_dorm}} dorm. </mat-chip>}
                @if (item.qtd_ban) {<mat-chip> {{item.qtd_ban}} ban. </mat-chip>}
                @if (item.qtd_suite) {<mat-chip> {{item.qtd_suite}} suíte </mat-chip>}
                @if (item.qtd_vaga) {<mat-chip> {{item.qtd_vaga}} vaga(s) </mat-chip>}
            </div>
    
            <div>
                <p class="descricao">
                    {{item.descricao}}

                </p>
            </div>
            <h5 class="preco">{{item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</h5>
    
            <div class="btns">
                @if (item.id | isFavorito$ | async) {
                    <button (click)="goFavorito(item.id)" mat-stroked-button color="accent">
                        <mat-icon>task_alt</mat-icon>
                        Favoritado
                    </button>
                }@else {
                    <button (click)="addFavorito(item.id)" mat-stroked-button color="accent">
                        <mat-icon>favorite</mat-icon>
                        Favoritar
                    </button>
                }
    
                <button (click)="goDetails(item.url)" mat-stroked-button color="primary">
                    <mat-icon>view_in_ar</mat-icon>
                    Visualisar
                </button>
            </div>
        </mat-card-content>
    </mat-card>
}
