.card-anuncio{
    width: 21vw;
    margin: 0px 15px 15px 0px !important;
    p{
        padding: 0px;
        margin: 3px;
        max-width: 100%;
        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
    }
    swiper-container{
        width: 100%;
        height: 300px;
        border-radius: 5px 5px 0px 0px;

        img{
            width: 100%;
            border-radius: 5px 5px 0px 0px;
            height: 100%;
        }
    }
    .titulo{
        font-weight: 600;
        font-size: 1rem;
        margin-top: 10px;
        @supports (-webkit-line-clamp: 2) {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }

    }
    .cidade{
        font-size: 0.8rem;
        font-weight: 600;
        color: rgb(161, 161, 161);
    }
    .detalhes{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        mat-chip{
            margin: 3px 3px 3px 0px;
            font-size: 0.8rem;
            font-weight: 600;
            color: rgb(87, 87, 87);
        }

    }

    .descricao{
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 1rem;
        font-weight: 300;
        color: rgb(161, 161, 161);
        height: 50px;

    }
    .preco{
        margin-top: 15px;
        font-weight: 800;
        height: 30px;
    }
    .btns{
        margin-top: 25px;
        height: 50px;
        display: flex;
        justify-content: space-between;
    }
}


@media only screen and (max-width: 600px) {
    .card-anuncio{
        width: 100%;
        margin: 0px 15px 15px 0px !important;
    }
    
  }