<app-header />
<app-banner-principal />

<section class="row m-0 p-0 justify-content-center mt-5">
    <div class="col-md-10">

        <div class="header-section">
            <h5>Recentes</h5>
            <h3>Propriedades</h3>
            <p>Confira algumas das nossas últimas propriedades.</p>
        </div>
        <app-slides-ultimos></app-slides-ultimos>
        

    </div>
</section>

<section class="row m-0 p-0 justify-content-center my-0 bg-cinza">
    <div class="col-md-10">

        <div class="header-section">
            <h5>Problemas para encontrar</h5>
            <h3>Precisa de ajuda? Fale comigo.</h3>
            <p>Sou especialista e posso te ajudar. ou navegue por mais imóveis.</p>
        </div>
        <div class="btns-box">
            <button mat-stroked-button color="primary">Entre em contato</button>
            <button mat-stroked-button color="primary">Explorar mais</button>
        </div>
    </div>
</section>

<section class="row m-0 p-0 justify-content-center my-0">
    <div class="col-md-10">
        <div class="section-info">
            <div class="left">
                <h5>Sou Especialista</h5>
                <h3>Em imóveis, terrenos e empreendimentos </h3>
                <p>Nas cidades do Maranhão, com destaque na região metropolitana</p>

                <p>Registrada no CRECI/MA sob o número 6489 e formada em administração CRA 3480.
                </p>

                <button mat-stroked-button color="primary">Entre em contato</button>
                <button mat-stroked-button color="primary">Confira meus Imóveis</button>
                <button mat-stroked-button color="primary">Fale comigo no Whatsapp</button>

            </div>
            <div class="imagem">
                <img src="assets/imgs/telma-monteiro-links.webp" alt="">
            </div>

        </div>
    </div>
</section>