
.bl-card{
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}

.corretor{
    img{
       width: 100%;
       height: 50%;


    }
}

.bl-card{
    background-color: rgb(245, 245, 245);
    padding: 30px;
    // margin: 5px;
}

swiper-container{
    // border-radius: 10px;
    // border: 1px solid red;
    padding: 0px;
}

h2{
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .corretor {
        display: flex;
        align-items: center;
        width: 70%;
    }

    .bl-card{
        p{
            font-size: 0.8rem;;
        }
        

    }
    
  }


