

@if(anunciosStore.isLoading()){
    <app-loading/>

}@else {

    <div class="row justify-content-center m-0 p-3">
        <div class="col-md-10">
            @if (anuncio; as item) {

            <div class="row container-details">
                <div class="col-md-9 m-0 p-0">
                    @if(anuncio.status ==='finalizado'){
                        <div class="finalizado">
                            <span class="mr-3">Anúncio Finalizado com sucesso. </span>
                            <mat-chip (click)="goPage()"  color="accent">Ver outros imóveis</mat-chip>
                        </div>
    
                    }
                    <swiper-container loop="false" navigation="true" pagination="true">
                        @for (path of fotos$ | async; track $index) {
                            <swiper-slide>
                                <img [src]="path">
                            </swiper-slide>
                        }
    
                    </swiper-container>
                    <mat-chip-listbox aria-label="Fish selection" class="mt-3">
                        <mat-chip-option color="accent" selected>FOTOS</mat-chip-option>
                        <!-- <mat-chip-option color="warn">TOUR 360° GRAUS</mat-chip-option> -->
                    </mat-chip-listbox>
    
                    <div class="info ">
                        <h3 class="titulo">{{item.titulo}}</h3>
                        <p class="cidade">{{item.end_cidade}} / {{item.end_uf}} - Cód. {{item.codigo}}</p>

                        <div class="descricao" [innerHTML]="item.descricao"></div>
                        @if(videoId){
                            <div class="video">
                                <youtube-player [videoId]="videoId" placeholderImageQuality="standard"/>
                            </div>
                        }
                        <div>
                            <p class="m-0 p-0"><b>Telma Monteiro - CRECI 6489</b> </p>
                        </div>
                        <div class="sub-menu">
                            <p class="mt-3">Fale comigo por</p>
                            @for (item of empresaMenu; track $index) {
                                <a [href]="item.url" [target]="item.target" mat-raised-button color="accent" class="me-2">
                                    <mat-icon aria-hidden="false" [fontIcon]="item.icon"></mat-icon> {{item.title}}
                                </a>
                            }
                        </div>
                        <div>
                            <p class="mt-3">Ou se preferir compartilhe</p>
                            <share-buttons theme="material-dark" [exclude]="excludeBtns"  image="../../../../assets/imgs/telma-monteiro-links.webp"/>
                        </div>
                    </div>
    
                </div>
                <div class="col-md-3 m-0 p-0">
                    <div class="sticky">
                        <p>Vamos negóciar ?</p>

                        @if(item.preco){
                            @if(!leadService.collectedContact$.value){
                                <div class="acoes">
                                    <button (click)="desbloquearPreco()" class="p-4" mat-raised-button color="warn">
                                        Visualizar Preço R$ 
                                        <span class="blur-price">{{ item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</span>
                                    </button>
                                    
                                </div>
    
                            }@else {
                                <h3  [ngClass]="{'blur-price': !leadService.collectedContact$.value }" >{{ item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</h3>
                            }

                        }

    
                        @if (item.condominio && leadService.collectedContact$.value) {
                        <p>Cond. {{item.condominio}}</p>
                        }
                        @if (item.iptu && leadService.collectedContact$.value) {
                        <p>IPTU {{item.iptu}}</p>
                        }
    
                        <div class="acoes">
                            <button (click)="openWhatsapp()" class="whatsapp" mat-raised-button>WhatsApp</button>
                            <button (click)="openContato(item)" mat-raised-button>Fale Comigo</button>
                            <button (click)="agendar(item)" mat-raised-button>Agendar uma visita</button>
                        </div>
    
                    </div>
    
                    <div class="list">
                        @if (item.dets_imovel) {
                            <h3>Imóvel</h3>
                            <mat-list>
                                @for (det of item.dets_imovel; track $index) {
                                <mat-list-item>
                                    <span matListItemTitle><mat-icon color="primary" aria-hidden="false"
                                            fontIcon="check_box"></mat-icon> {{det}}</span>
                                </mat-list-item>
                                }
                            </mat-list>
    
                        }
    
                        @if (item.dets_area_comun) {
                            <h3>Área Comum</h3>
                            <mat-list>
                                @for (det of item.dets_area_comun; track $index) {
                                <mat-list-item>
                                    <span matListItemTitle><mat-icon color="primary" aria-hidden="false"
                                            fontIcon="check_box"></mat-icon> {{det}}</span>
                                </mat-list-item>
                                }
                            </mat-list>
    
                        }
    
                        @if (item.dets_proximidades) {
                            <h3>Proxímidades</h3>
                            <mat-list>
                                @for (det of item.dets_proximidades; track $index) {
                                <mat-list-item>
                                    <span matListItemTitle><mat-icon color="primary" aria-hidden="false"
                                            fontIcon="check_box"></mat-icon> {{det}}</span>
                                </mat-list-item>
                                }
                            </mat-list>
    
                        }
    
                        @if (item.dets_outros) {
                            <h3>Outros</h3>
                            <mat-list>
                                @for (det of item.dets_outros; track $index) {
                                <mat-list-item>
                                    <span matListItemTitle><mat-icon color="primary" aria-hidden="false"
                                            fontIcon="check_box"></mat-icon> {{det}}</span>
                                </mat-list-item>
                                }
                            </mat-list>
    
                        }
    
                    </div>
    
                </div>
            </div>
            }
    
        </div>
    </div>


}