<footer>
    <div class="block">
        <h4 class="sub-titulo">Endereço</h4>
        <p>Avenida das Nações Unidas, 18802, NovAmérica Office </p>
        <p>Conj. 309 - Vila Almeida - São Paulo - SP</p>
    </div> 
    <div class="block">
        <h4 class="sub-titulo">Endereço</h4>
        <p>Avenida das Nações Unidas, 18802, NovAmérica Office </p>
        <p>Conj. 309 - Vila Almeida - São Paulo - SP</p>
    </div> 
    <div class="block">
        <h4 class="sub-titulo">Endereço</h4>
        <p>Avenida das Nações Unidas, 18802, NovAmérica Office </p>
        <p>Conj. 309 - Vila Almeida - São Paulo - SP</p>
    </div> 
</footer>
