<footer>
    <div class="block">
        <h4 class="sub-titulo">Endereço</h4>
        <p>Rua Ceará lote D casa 01 Chácara Brasil Turu - São Luís / MA</p>
        <p><b>Consultora de Imóveis CRECI 6489</b></p>
        <p>Todos os direitos reservados © {{fullYear}}</p>
        <a style="color: aliceblue; text-decoration: none;" href="https://djbrunomonteiro.com.br/" target="_blank"><em>Desenvolvido por DJBM</em> </a>
        
    </div>
    <div class="block">
        <mat-nav-list>
            @for (item of empresaMenu; track $index) {
                <a (click)="goAdmin(item)" mat-list-item>
                    <span matListItemTitle><mat-icon aria-hidden="false" class="mx-3" [fontIcon]="item.icon"></mat-icon> {{item.title}}</span>
                </a>
            }
        </mat-nav-list>
    </div>
    <div class="block">
        <div class="logo-remax">
            <img src="assets/imgs/logo-remax.webp" alt="">
            <p class="p-0 m-0">Parceira RE/MAX DREAMS</p>
            <p class="p-0 m-0" style="font-size: 0.6rem;">Franquia da Rede imobiliária RE/MAX</p>
        </div>
    </div>
</footer>