<footer class="row m-0 justify-content-center align-items-center">
    <div class="col-10 m-0 p-3">
        <div class="row">
            <div class="col-md-6 p-3">
                <h4 class="sub-titulo">Endereço</h4>
                <p>Avenida das Nações Unidas, 18802, NovAmérica Office </p>
                <p>Conj. 309 - Vila Almeida - São Paulo - SP</p>
            </div>            
            <div class="col-md-3 p-3">
                <h4 class="sub-titulo">Empresa</h4>
                <div class="sub-menu">
                    
                    <a href="https://www.google.com/" class="py-2"  target="_blank">Quem Sou</a>
                    <a href="https://www.google.com/" target="_blank">Política de Privacidade</a>
                </div>

            </div>            
            
            <div class="col-md-3 p-3">
                <h4 class="sub-titulo">Contatos</h4>
                <div class="sub-menu">
                    
                    <a href="https://www.google.com/" class="py-2"  target="_blank">(11) 4063-4100</a>
                    <a href="https://www.google.com/" target="_blank">suporte  quickfast.com</a>
                </div>

            </div>
        </div>

    </div>
</footer>
