<section class="slides">
    <swiper-container [slidesPerView]="2" [spaceBetween]="10" [centeredSlides]="true" [breakpoints]="breakpoints">
        @for (item of slides1; track $index) {
            <swiper-slide class="slide">
                @if ((item.fotos[0] | urlFotos: 'anuncios' | async); as src) {
                    <img [src]="src" style="width: 100%;">
                }

                <div class="titulo-container">
                    <span class="titulo">{{item.titulo}}</span>
                    <span class="subtitulo">{{item.end_cidade}}/{{item.end_uf}}</span>
                    <span class="preco">{{item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</span>
                </div>
            </swiper-slide>
        }

    </swiper-container>
    <swiper-container class="my-3" [spaceBetween]="10" [centeredSlides]="true" [roundLengths]="true" [allowSlidePrev]="true"
        [breakpoints]="breakpoints">
        @for (item of slides2; track $index) {
            <swiper-slide class="slide">
                @if ((item.fotos[0] | urlFotos: 'anuncios' | async); as src) {
                    <img [src]="src" style="width: 100%;">
                }
                <div class="titulo-container">
                    <span class="titulo">{{item.titulo}}</span>
                    <span class="subtitulo">{{item.end_cidade}}/{{item.end_uf}}</span>
                    <span class="preco">{{item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</span>
                </div>
            </swiper-slide>
        }
        
    </swiper-container>
    <div class="d-flex justify-content-center">
        <button class="w-50 p-4" mat-stroked-button color="primary">Ver Mais Anúncios</button>
    </div>

</section>