<div class="row justify-content-around align-items-center">
    <div class="col-md-3 m-0 p-0 foto-container">
        <img src="../../../../assets/imgs/teste2.png">
    </div>

    <div class="col-md-5">
        <h4 class="titulo">Está pensando em vender ou Alugar seu imóvel com segurança? Eu posso te ajudar!</h4>
        <ul class="my-3">
            <li>Avaliação gratuita do seu imóvel</li>
            <li>Visitas agendadas com clientes qualificados</li>
            <li>Marketing digital para divulgar seu imóvel</li>
            <li>Acompanhamento e transparência até a concretização do negócio</li>
        </ul>

        <button (click)="openContato()" class="w-100 p-4" mat-stroked-button color="primary">EU QUERO</button>
    </div>

</div>
