<div class="container">
    <h1>Política de Privacidade</h1>
    <p>Esta Política de Privacidade descreve como suas informações pessoais são coletadas, usadas e compartilhadas quando você visita nosso site.</p>

    <h2>Informações que Coletamos</h2>
    <p>Quando você visita o site, coletamos automaticamente certas informações sobre seu dispositivo, incluindo informações sobre seu navegador, endereço IP, fuso horário e alguns dos cookies que estão instalados em seu dispositivo. Além disso, conforme você navega no site, coletamos informações sobre as páginas individuais da web ou produtos que você visualiza, quais sites ou termos de pesquisa o direcionaram ao site e informações sobre como você interage com o site.</p>

    <h2>Uso de Informações Pessoais</h2>
    <p>Usamos as Informações do Dispositivo que coletamos para nos ajudar a detectar possíveis riscos e fraudes (em particular, seu endereço IP), e de maneira mais geral, para melhorar e otimizar nosso site (por exemplo, gerando análises sobre como nossos clientes navegam e interagem com o Site, e para avaliar o sucesso de nossas campanhas de marketing e publicidade).</p>

    <h2>Compartilhamento de Informações Pessoais</h2>
    <p>Compartilhamos suas Informações Pessoais com terceiros para nos ajudar a usar suas Informações Pessoais, conforme descrito acima. Por exemplo, usamos o Google Analytics para nos ajudar a entender como nossos clientes usam o site. Você pode ler mais sobre como o Google usa suas Informações Pessoais aqui: <a href="https://www.google.com/intl/pt-BR/policies/privacy/">https://www.google.com/intl/pt-BR/policies/privacy/</a>.</p>

    <h2>Seus Direitos</h2>
    <p>Se você é um residente europeu, tem o direito de acessar as informações pessoais que mantemos sobre você e de pedir que suas informações pessoais sejam corrigidas, atualizadas ou excluídas. Se você deseja exercer esse direito, entre em contato conosco através das informações de contato abaixo.</p>

    <h2>Alterações</h2>
    <p>Podemos atualizar esta política de privacidade periodicamente para refletir, por exemplo, mudanças em nossas práticas ou por outras razões operacionais, legais ou regulatórias.</p>

    <h2>Contato</h2>
    <p>Para mais informações sobre nossas práticas de privacidade, se você tiver dúvidas ou quiser fazer uma reclamação, entre em contato conosco por e-mail ou pelo correio usando os detalhes fornecidos abaixo:</p>
    <p>TELMA MONTEIRO CORRETORA </p>
    <p>Rua Ceará lote D casa 01 Chácara Brasil Turu - São Luís / MA</p>
</div>