<mat-card>
    <mat-card-header class="d-flex justify-content-between align-items-center">
      <mat-card-title>Clientes</mat-card-title>
      <button (click)="openEdit()" class="btn p-4 mb-3" mat-raised-button color="primary">Criar Cliente</button>
    </mat-card-header>
    <mat-card-content>
      @if(clientesStore.isLoading()){
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>

      }@else {
        <div class="row">
          @for (cliente of clientes; track $index) {
            <div class="col-md-4 border container-cliente">
              <p>Nome: {{cliente.nome}}</p>
              <p>Whatsapp: {{cliente.whatsapp}}</p>
              <p>Cidade/Uf: {{cliente.end_cidade}}/{{cliente.end_uf}}</p>
              <span style="font-size: 0.8rem;">Registrado em {{cliente.created_at | date: 'short'}}</span>
              <button (click)="openEdit(cliente)" class="w-100" mat-raised-button color="primary">Visualizar</button>
            </div>

          }
        </div>
      }

    </mat-card-content>
</mat-card>

