<section class="slides">
    <swiper-container [breakpoints]="breakpoints" navigation="true" pagination="true" slidesOffsetAfter="0.5" loop="false" autoplay-delay="5000">
        @for (item of slides(); track $index) {
            <swiper-slide (click)="openAnuncio(item.url)"  class="slide cursor-pointer">
                @if ((item.fotos[0] | urlFotos: 'anuncios' | async); as src) {
                    <img [src]="src" style="width: 100%;">
                }

                <div class="titulo-container">
                    <span class="titulo">{{item.titulo}}</span>
                    <span class="subtitulo">{{item.end_cidade}}/{{item.end_uf}}</span>
                    <span class="preco ">Valor: <span [ngClass]="{'blur-price': !leadService.collectedContact$.value}">{{item.preco | mask: 'separator.2': {thousandSeparator:'.', prefix: 'R$'} }}</span> </span>
                </div>
            </swiper-slide>
        }

    </swiper-container>
    <div class="d-flex justify-content-center my-2">
        <button (click)="openMais()" class="w-100 w-md-50 p-4" mat-stroked-button color="primary">Ver Mais Anúncios</button>
    </div>

</section>