/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap');
@import './assets/theme/variables.scss';

* {
    font-family: 'Montserrat', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
    width: 100%;
}

.m-rigth{
    margin-right: 10px;
}

.mat-mdc-menu-panel{
    max-width: 500px !important;
}

.menu-container{
    // position: relative !important;
    // right: 10px;
    min-height: 80vh;
    // bottom: 5px;
}