:host{

    width: 100%;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px 20px;
    form{
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        mat-form-field{
            margin: 0px 5px;
            width: 250px;
            height: 56px;
        }

        button{
            // width: 50px;
            border-radius: 5px;
            height: 56px;
            margin-top: 0px;
            
        }
        .btns-box{
            display: flex;
            flex-direction: column;
        }


    }

    .btn-all{
        border-radius: 5px;
        margin-top: 20px;
        width: 100%;
    }
    
}

