<form [formGroup]="form">
    <mat-form-field appearance="outline">
        <input formControlName="termo" matInput placeholder="ex: Casa em condomínio">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Interesse</mat-label>
        <mat-select formControlName="categoria">
            @for (item of core.categorias; track $index) {
            <mat-option [value]="item">{{item | uppercase}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Tipo</mat-label>
        <mat-select formControlName="tipo">
            @for (item of core.tipos; track $index) {
            <mat-option [value]="item">{{item | uppercase}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
    <button (click)="search()" mat-stroked-button color="primary">PESQUISAR</button>
</form>

<button (click)="search()" mat-stroked-button class="btn-all">VER TODOS</button>
