.cookies{
    position: fixed;
    bottom: 2px;
    right: 2px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #090cd8;
    color: rgb(83, 83, 83);
    z-index: 1000;
    p{
        font-size: 0.8r

    }

}