@if(!none){
<div class="cookies 'd-none'" [@fade]="true">
  <p>
    <b>Aceitação de Cookies!!!</b>
    Este site utiliza cookies para oferecer uma experiência de navegação. Ao clicar em 'SIM', você concorda
    com o uso de cookies de acordo com nossa Política de Cookies.
  </p>
  <div>
    <button
      (click)="setAcceptCookies('yes')"
      mat-stroked-button
      color="primary"
    >
      SIM
    </button>
    <button
      (click)="setAcceptCookies('no')"
      mat-stroked-button
      color="primary"
    >
      NÃO
    </button>
  </div>
</div>

}
